<div class="main">
    <mat-toolbar class="toolbar">
        <span style="font-size: 1.4vw;font-weight:600;">Analytics > Zero Transaction</span>
      </mat-toolbar> 
      <div class="search">
        <div class="date" [formGroup]="dateRange">
            <input placeholder="Start date" formControlName="start" matInput [matDatepicker]="picker" (dateChange)="getStartDate('change', $event)" [formControl]="dates">
            <mat-datepicker-toggle style="height: 100%;margin-left: -3.5%;" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
            &nbsp;&nbsp; 
            <input placeholder="End Date" formControlName="end" matInput [matDatepicker]="picker1" (dateChange)="getEndDate('change', $event)" [formControl]="dates">
            <mat-datepicker-toggle style="position: relative; top:0%;margin-left: -3%;" matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <button mat-raised-button (click)="viewDetails()">Submit</button>
        <input matInput (keyup)="applyFilter($event)" style="margin-left:29%;" placeholder="search" #input>
        <span class="spacer"></span>
        <button mat-raised-button (click)="exporter.exportTable('csv',{fileName:'ZeroTransaction'})" style="position:relative;left:-1%;font-size:0.8vw;" color="primary">Download_Report</button>
    </div> 
    </div>
    <div class="table">
        <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8" #exporter="matTableExporter">
          <ng-container matColumnDef="identifier">
            <th mat-header-cell *matHeaderCellDef  > Identifier </th>
            <td mat-cell *matCellDef="let element" > {{element.identifier}} </td>
          </ng-container>
      
        <ng-container matColumnDef="chargepointvendor">
          <th mat-header-cell *matHeaderCellDef  > Manufacturer </th>
          <td mat-cell *matCellDef="let element" > {{element.chargepointvendor}}</td>
      </ng-container>
      
      <ng-container matColumnDef="chargepointmodel" >
          <th mat-header-cell *matHeaderCellDef  > Model </th>
          <td mat-cell *matCellDef="let element" > {{element.chargepointmodel}}</td>
      </ng-container>
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  > Location Description </th>
        <td mat-cell *matCellDef="let element" > {{element.name}} </td>
      </ng-container>
      
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef >count</th>
            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true" style="background-color:lightblue"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      </div>
    </div>